@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body { color: #5a595c; font-family: 'Montserrat', sans-serif; }
a { color: #41af80;}
a:hover { color: #84E2BA; text-decoration: none;}
p, table  { margin: 0 0 15px;}

.top-banner { background-color: #ecf0f1; margin-bottom: 10px;}
.top-banner h1 { font-size: 48px; margin: 70px 0px 100px 0px; }
.top-banner input { display: inline; font-size: 14px; height: 50px; line-height: 1.3333333; padding: 10px 16px; width: 60%; }
.top-banner input:focus, .top-banner input:active { outline: none !important; border-color: none; }
.top-banner button, .top-banner button:focus { background: #95A5A5; color: #fff; font-weight: normal; font-size: 14px; height: 50px; width: 19%; border: none; outline: none !important;}
.top-banner button:hover { background: #ADC3C3; color: #fff; }
.top-banner button:active:focus { outline: none !important; background: #798d8f; color: #fff; }
.top-banner button a { color: #fff; }
.top-banner button a:hover { text-decoration: none; }
.top-banner .form-control:focus { box-shadow: none; border-color: #5a595c; }
.left-navbar ul { list-style-type: none; -webkit-padding-start: 0px; line-height: 1.8;}
.left-navbar p { margin: 30px 0px; }
.main-content { line-height: 1.8;}

loading-content {
  position: absolute;
  background: #000000;
  opacity: 0.9;
  z-index: 100;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  color: #FFFFFF;
}